extends ../../partials/head
block content
  .all-wrapper
    .all-header-wrapper
      a.all-header-logo(href='/admin')
        svg(width="161" height="29" viewBox="0 0 161 29" fill="none" xmlns="http://www.w3.org/2000/svg")
          path(d="M4.2 24.27C3.36 24.27 2.71 24.04 2.25 23.58C1.79 23.12 1.56 22.45 1.56 21.57V11.64C1.56 10.78 1.78 10.12 2.22 9.66C2.68 9.2 3.33 8.97 4.17 8.97C5.01 8.97 5.65 9.2 6.09 9.66C6.53 10.12 6.75 10.78 6.75 11.64V13.05L6.42 11.82C6.9 10.88 7.58 10.16 8.46 9.66C9.36 9.16 10.38 8.91 11.52 8.91C12.7 8.91 13.67 9.14 14.43 9.6C15.19 10.04 15.76 10.74 16.14 11.7C16.52 12.64 16.71 13.83 16.71 15.27V21.57C16.71 22.45 16.48 23.12 16.02 23.58C15.56 24.04 14.9 24.27 14.04 24.27C13.18 24.27 12.52 24.04 12.06 23.58C11.6 23.12 11.37 22.45 11.37 21.57V15.48C11.37 14.58 11.21 13.94 10.89 13.56C10.59 13.18 10.14 12.99 9.54 12.99C8.74 12.99 8.1 13.25 7.62 13.77C7.14 14.27 6.9 14.95 6.9 15.81V21.57C6.9 23.37 6 24.27 4.2 24.27ZM27.2234 24.33C25.5834 24.33 24.1534 24.02 22.9334 23.4C21.7134 22.78 20.7634 21.89 20.0834 20.73C19.4034 19.57 19.0634 18.2 19.0634 16.62C19.0634 15.42 19.2534 14.35 19.6334 13.41C20.0134 12.45 20.5634 11.64 21.2834 10.98C22.0034 10.3 22.8634 9.79 23.8634 9.45C24.8634 9.09 25.9834 8.91 27.2234 8.91C28.8634 8.91 30.2934 9.22 31.5134 9.84C32.7334 10.46 33.6734 11.35 34.3334 12.51C35.0134 13.65 35.3534 15.02 35.3534 16.62C35.3534 17.8 35.1634 18.87 34.7834 19.83C34.4034 20.79 33.8534 21.61 33.1334 22.29C32.4334 22.95 31.5734 23.46 30.5534 23.82C29.5534 24.16 28.4434 24.33 27.2234 24.33ZM27.2234 20.4C27.7634 20.4 28.2434 20.27 28.6634 20.01C29.0834 19.73 29.4034 19.32 29.6234 18.78C29.8634 18.22 29.9834 17.5 29.9834 16.62C29.9834 15.28 29.7234 14.32 29.2034 13.74C28.6834 13.14 28.0234 12.84 27.2234 12.84C26.6834 12.84 26.2034 12.97 25.7834 13.23C25.3634 13.49 25.0334 13.9 24.7934 14.46C24.5534 15 24.4334 15.72 24.4334 16.62C24.4334 17.94 24.6934 18.9 25.2134 19.5C25.7334 20.1 26.4034 20.4 27.2234 20.4ZM43.5602 24.33C42.3002 24.33 41.1802 24.02 40.2002 23.4C39.2402 22.78 38.4802 21.89 37.9202 20.73C37.3802 19.57 37.1102 18.2 37.1102 16.62C37.1102 15 37.3802 13.62 37.9202 12.48C38.4802 11.34 39.2402 10.46 40.2002 9.84C41.1802 9.22 42.3002 8.91 43.5602 8.91C44.6602 8.91 45.6502 9.17 46.5302 9.69C47.4102 10.21 48.0002 10.88 48.3002 11.7H47.9702V5.28C47.9702 4.4 48.2002 3.73 48.6602 3.27C49.1202 2.81 49.7802 2.58 50.6402 2.58C51.4802 2.58 52.1302 2.81 52.5902 3.27C53.0702 3.73 53.3102 4.4 53.3102 5.28V21.57C53.3102 22.45 53.0802 23.12 52.6202 23.58C52.1802 24.04 51.5302 24.27 50.6702 24.27C49.8302 24.27 49.1802 24.04 48.7202 23.58C48.2602 23.12 48.0302 22.45 48.0302 21.57V19.86L48.3602 21.33C48.0802 22.23 47.4902 22.96 46.5902 23.52C45.7102 24.06 44.7002 24.33 43.5602 24.33ZM45.2702 20.4C45.8102 20.4 46.2902 20.27 46.7102 20.01C47.1302 19.73 47.4502 19.32 47.6702 18.78C47.9102 18.22 48.0302 17.5 48.0302 16.62C48.0302 15.28 47.7702 14.32 47.2502 13.74C46.7302 13.14 46.0702 12.84 45.2702 12.84C44.7302 12.84 44.2502 12.97 43.8302 13.23C43.4102 13.49 43.0802 13.9 42.8402 14.46C42.6002 15 42.4802 15.72 42.4802 16.62C42.4802 17.94 42.7402 18.9 43.2602 19.5C43.7802 20.1 44.4502 20.4 45.2702 20.4ZM64.4438 24.33C62.6438 24.33 61.0838 24.02 59.7638 23.4C58.4638 22.76 57.4638 21.86 56.7638 20.7C56.0638 19.54 55.7138 18.17 55.7138 16.59C55.7138 15.07 56.0438 13.74 56.7038 12.6C57.3838 11.44 58.3038 10.54 59.4638 9.9C60.6438 9.24 61.9838 8.91 63.4838 8.91C64.5838 8.91 65.5838 9.09 66.4838 9.45C67.3838 9.79 68.1538 10.3 68.7938 10.98C69.4338 11.64 69.9138 12.44 70.2338 13.38C70.5738 14.32 70.7438 15.37 70.7438 16.53C70.7438 16.93 70.6338 17.23 70.4138 17.43C70.1938 17.61 69.8438 17.7 69.3638 17.7H60.1838V15.18H66.8438L66.3638 15.57C66.3638 14.83 66.2638 14.23 66.0638 13.77C65.8638 13.31 65.5638 12.96 65.1638 12.72C64.7838 12.48 64.3038 12.36 63.7238 12.36C63.1038 12.36 62.5638 12.51 62.1038 12.81C61.6638 13.09 61.3238 13.51 61.0838 14.07C60.8438 14.63 60.7238 15.33 60.7238 16.17V16.44C60.7238 17.86 61.0338 18.88 61.6538 19.5C62.2938 20.1 63.2738 20.4 64.5938 20.4C65.0338 20.4 65.5338 20.35 66.0938 20.25C66.6738 20.13 67.2238 19.97 67.7438 19.77C68.2638 19.57 68.7138 19.54 69.0938 19.68C69.4738 19.8 69.7638 20.02 69.9638 20.34C70.1838 20.64 70.3038 20.99 70.3238 21.39C70.3438 21.77 70.2538 22.15 70.0538 22.53C69.8538 22.89 69.5238 23.17 69.0638 23.37C68.3638 23.69 67.6138 23.93 66.8138 24.09C66.0338 24.25 65.2438 24.33 64.4438 24.33ZM76.1944 24C75.4544 24 74.8844 23.81 74.4844 23.43C74.1044 23.03 73.9144 22.47 73.9144 21.75C73.9144 21.03 74.1044 20.48 74.4844 20.1C74.8844 19.72 75.4544 19.53 76.1944 19.53H78.8944V7.26H81.4144L77.0644 9.93C76.5444 10.25 76.0544 10.38 75.5944 10.32C75.1344 10.24 74.7444 10.04 74.4244 9.72C74.1044 9.4 73.8944 9.01 73.7944 8.55C73.6944 8.09 73.7344 7.63 73.9144 7.17C74.0944 6.71 74.4544 6.32 74.9944 6L79.1344 3.42C79.5744 3.14 80.0244 2.93 80.4844 2.79C80.9644 2.65 81.4644 2.58 81.9844 2.58C82.7444 2.58 83.3344 2.78 83.7544 3.18C84.1744 3.56 84.3844 4.12 84.3844 4.86V19.53H86.7844C87.5244 19.53 88.0844 19.72 88.4644 20.1C88.8644 20.48 89.0644 21.03 89.0644 21.75C89.0644 22.47 88.8644 23.03 88.4644 23.43C88.0844 23.81 87.5244 24 86.7844 24H76.1944ZM98.4727 24.33C95.8727 24.33 93.8727 23.38 92.4727 21.48C91.0927 19.56 90.4027 16.85 90.4027 13.35C90.4027 10.99 90.7127 9.01 91.3327 7.41C91.9527 5.79 92.8627 4.57 94.0627 3.75C95.2627 2.93 96.7327 2.52 98.4727 2.52C101.093 2.52 103.093 3.44 104.473 5.28C105.853 7.12 106.543 9.8 106.543 13.32C106.543 15.66 106.233 17.65 105.613 19.29C104.993 20.93 104.083 22.18 102.883 23.04C101.683 23.9 100.213 24.33 98.4727 24.33ZM98.4727 19.95C99.4327 19.95 100.143 19.43 100.603 18.39C101.083 17.33 101.323 15.64 101.323 13.32C101.323 11.02 101.083 9.38 100.603 8.4C100.143 7.4 99.4327 6.9 98.4727 6.9C97.5127 6.9 96.7927 7.4 96.3127 8.4C95.8527 9.38 95.6227 11.02 95.6227 13.32C95.6227 15.64 95.8527 17.33 96.3127 18.39C96.7927 19.43 97.5127 19.95 98.4727 19.95ZM112.171 24C111.431 24 110.861 23.81 110.461 23.43C110.081 23.03 109.891 22.47 109.891 21.75C109.891 21.03 110.081 20.48 110.461 20.1C110.861 19.72 111.431 19.53 112.171 19.53H114.871V7.26H117.391L113.041 9.93C112.521 10.25 112.031 10.38 111.571 10.32C111.111 10.24 110.721 10.04 110.401 9.72C110.081 9.4 109.871 9.01 109.771 8.55C109.671 8.09 109.711 7.63 109.891 7.17C110.071 6.71 110.431 6.32 110.971 6L115.111 3.42C115.551 3.14 116.001 2.93 116.461 2.79C116.941 2.65 117.441 2.58 117.961 2.58C118.721 2.58 119.311 2.78 119.731 3.18C120.151 3.56 120.361 4.12 120.361 4.86V19.53H122.761C123.501 19.53 124.061 19.72 124.441 20.1C124.841 20.48 125.041 21.03 125.041 21.75C125.041 22.47 124.841 23.03 124.441 23.43C124.061 23.81 123.501 24 122.761 24H112.171Z" fill="#0A0A14")
          path(d="M129.529 24.18C128.629 24.18 127.909 23.91 127.369 23.37C126.849 22.83 126.589 22.12 126.589 21.24C126.589 20.38 126.849 19.69 127.369 19.17C127.909 18.63 128.629 18.36 129.529 18.36C130.469 18.36 131.189 18.63 131.689 19.17C132.209 19.69 132.469 20.38 132.469 21.24C132.469 22.12 132.209 22.83 131.689 23.37C131.189 23.91 130.469 24.18 129.529 24.18ZM137.823 24.27C136.983 24.27 136.333 24.02 135.873 23.52C135.413 23.02 135.183 22.3 135.183 21.36V11.88C135.183 10.94 135.413 10.22 135.873 9.72C136.333 9.22 136.983 8.97 137.823 8.97C138.683 8.97 139.343 9.22 139.803 9.72C140.283 10.22 140.523 10.94 140.523 11.88V21.36C140.523 22.3 140.293 23.02 139.833 23.52C139.373 24.02 138.703 24.27 137.823 24.27ZM137.823 6.84C136.883 6.84 136.153 6.62 135.633 6.18C135.133 5.74 134.883 5.1 134.883 4.26C134.883 3.44 135.133 2.81 135.633 2.37C136.153 1.93 136.883 1.71 137.823 1.71C138.803 1.71 139.543 1.93 140.043 2.37C140.543 2.81 140.793 3.44 140.793 4.26C140.793 5.1 140.543 5.74 140.043 6.18C139.543 6.62 138.803 6.84 137.823 6.84ZM151.091 24.33C149.451 24.33 148.021 24.02 146.801 23.4C145.581 22.78 144.631 21.89 143.951 20.73C143.271 19.57 142.931 18.2 142.931 16.62C142.931 15.42 143.121 14.35 143.501 13.41C143.881 12.45 144.431 11.64 145.151 10.98C145.871 10.3 146.731 9.79 147.731 9.45C148.731 9.09 149.851 8.91 151.091 8.91C152.731 8.91 154.161 9.22 155.381 9.84C156.601 10.46 157.541 11.35 158.201 12.51C158.881 13.65 159.221 15.02 159.221 16.62C159.221 17.8 159.031 18.87 158.651 19.83C158.271 20.79 157.721 21.61 157.001 22.29C156.301 22.95 155.441 23.46 154.421 23.82C153.421 24.16 152.311 24.33 151.091 24.33ZM151.091 20.4C151.631 20.4 152.111 20.27 152.531 20.01C152.951 19.73 153.271 19.32 153.491 18.78C153.731 18.22 153.851 17.5 153.851 16.62C153.851 15.28 153.591 14.32 153.071 13.74C152.551 13.14 151.891 12.84 151.091 12.84C150.551 12.84 150.071 12.97 149.651 13.23C149.231 13.49 148.901 13.9 148.661 14.46C148.421 15 148.301 15.72 148.301 16.62C148.301 17.94 148.561 18.9 149.081 19.5C149.601 20.1 150.271 20.4 151.091 20.4Z" fill="#82AAEB")
      .all-header-buttons-wrapper
        a.each-all-header-button(href='/admin/projects/delete') Deleted Projects
      a.all-header-create-button(href='/admin/projects/create') Create Project
    .all-content-wrapper
      .new-project-form
        .new-project-form-title New Project
        .new-project-form-subtitle The new project will be created as 'inactive'. You may activate the project once you create it. Users cannot see inactive projects.
        .new-project-form-subtitle IMPORTANT: In order to add a link, use text{link} syntax. For instance, "Please follow the link{https://ex.com} to open the site."
        .new-project-form-title General Information
        .project-inputs-outer-wrapper
          .each-project-input-wrapper
            .new-project-form-input-title.required-input Language
            input.new-project-form-input#language-input(type='text' placeholder='Allowed Values: all, en, tr, ru' autofocus)
          .each-project-input-wrapper
            .new-project-form-input-title.required-input Name
            input.new-project-form-input#name-input(type='text' placeholder='Project name')
          .each-project-input-wrapper#image-input-wrapper
            .new-project-form-input-title.required-input Image
            .image-input-outer-wrapper
              label.choose-image-input-text
                span Click to choose an image from your device
                input.display-none.image-input(type="file" accept="image/*")
          .each-project-input-wrapper
            .new-project-form-input-title.required-input Description
            textarea.new-project-form-input#description-input(type='text' placeholder='Project description (multiline)')
          .each-project-input-wrapper
            .new-project-form-input-title.required-input Dates
            input.new-project-form-input#dates-input(type='text' placeholder='Project dates. Leave empty for TBA')
          .each-project-input-wrapper
            .new-project-form-input-title.required-input Reward
            input.new-project-form-input#reward-input(type='text' placeholder='Project reward. Leave empty for TBA')
          .each-project-input-wrapper
            .new-project-form-input-title.required-input Status
            input.new-project-form-input#status-input(type='text' placeholder='Allowed Values: active, upcoming, ended')
          .each-project-input-wrapper
            .new-project-form-input-title.required-input Popularity
            input.new-project-form-input#popularity-input(type='text' placeholder='Allowed Values: low, medium, high')
          .each-project-input-wrapper
            .new-project-form-input-title Get Involved URL
            input.new-project-form-input#get-involved-url-input(type='text' placeholder='Optional. Project web-site, discord link, or such')
          .each-project-input-wrapper
            .new-project-form-input-title Will Be Stakable
            input.new-project-form-input#will-be-stakable-input(type='text' placeholder='Write \'true\' if the the project will be stakable in the future')
        .new-project-form-title Stakable Projects
        .new-project-form-subtitle Fill only if the project is stakable. All the fields should be completed for the project to be stakable.
        .project-inputs-outer-wrapper
          .each-project-input-wrapper
            .new-project-form-input-title Stake URL
            input.new-project-form-input#stake-url-input(type='text' placeholder='Enter only if the project is stakable')
          .each-project-input-wrapper
            .new-project-form-input-title Stake Rate API Title
            input.new-project-form-input#stake-api-title-input(type='text' placeholder='This string should match the title of project in the stake rate api')
        .new-project-form-title Project Links
        .project-inputs-outer-wrapper
          .each-project-input-wrapper
            .new-project-form-input-title Web
            input.new-project-form-input#links-web-input(type='text' placeholder='Project website url')
          .each-project-input-wrapper
            .new-project-form-input-title GitHub
            input.new-project-form-input#links-github-input(type='text' placeholder='Project GitHub url')
          .each-project-input-wrapper
            .new-project-form-input-title Telegram
            input.new-project-form-input#links-telegram-input(type='text' placeholder='Project Telegram url')
          .each-project-input-wrapper
            .new-project-form-input-title Medium
            input.new-project-form-input#links-medium-input(type='text' placeholder='Project Medium url')
          .each-project-input-wrapper
            .new-project-form-input-title Twitter
            input.new-project-form-input#links-twitter-input(type='text' placeholder='Project Twitter url')
          .each-project-input-wrapper
            .new-project-form-input-title Instagram
            input.new-project-form-input#links-instagram-input(type='text' placeholder='Project Instagram url')
          .each-project-input-wrapper
            .new-project-form-input-title GitBook
            input.new-project-form-input#links-gitbook-input(type='text' placeholder='Project GitBook url')
          .each-project-input-wrapper
            .new-project-form-input-title Google Docs
            input.new-project-form-input#links-docs-input(type='text' placeholder='Project Google Docs url')
          .each-project-input-wrapper
            .new-project-form-input-title Discord
            input.new-project-form-input#links-discord-input(type='text' placeholder='Project Discord url')
          .each-project-input-wrapper
            .new-project-form-input-title Explorer
            input.new-project-form-input#links-explorer-input(type='text' placeholder='Project explorer url')
        .new-project-form-title Project Guide
        .new-project-form-subtitle Items you add below will be created in the order shown.
        .project-guide-items-wrapper.drag-and-drop-wrapper
        .add-new-guide-item-button
          .add-new-guide-item-buttons-line
            .new-guide-item-type-selection-button
              .new-guide-item-type-selected
                span Title
                i.fas.fa-chevron-down
              each guide_type in guide_type_values
                .each-new-guide-item-type= guide_type.substring(0, 1).toUpperCase() + guide_type.substring(1)
            .new-guide-item-create-button Add
          textarea.new-guide-item-text-input#new-guide-item-text-input.new-project-form-input(type='text' placeholder='Enter the title')
        .new-project-form-title Project Requirements
        .new-project-form-subtitle Items you add below will be created in order.
        .project-requirements-wrapper
          .add-new-requirement-form
            input.new-requirement-name-input#new-requirement-name-input(type='text' placeholder='Enter the name of the requirement')
            textarea.new-requirement-value-input#new-requirement-value-input(placeholder='Enter the value of the requirement')
            .new-requirement-add-button Add Requirement
        .new-project-buttons-line
          .new-project-back-button#new-project-back-button Cancel
          .new-project-create-button#new-project-create-button Add
        .new-project-error#new-project-form-error
