.all-content-wrapper {
  height: fit-content;
  min-height: fit-content;
  margin-top: 80px;
  padding: 60px 0px;
  display: flex;
  flex-direction: column;
}

.blogs-title-wrapper {
  display: flex;
  align-items: flex-end;
  height: 60px;
  padding: 0 60px;
}
.blogs-title {
  color: var(--text-color);
  font-weight: 800;
  font-size: 60px;
}

.blogs-wrapper {
  width: 100%;
  height: fit-content;
  min-height: fit-content;
  margin: 60px 0px;
}

.each-deleted-blog {
  width: calc(100% - 120px);
  margin: 0 60px;
  border: 1px solid var(--border-color);
  box-shadow: 0 0 10px var(--border-color);
  display: flex;
  align-items: center;
  height: 50px;
  border-radius: 8px;
  padding: 0 15px;
}
.each-deleted-blog-restore-button {
  text-decoration: none;
  margin-right: 15px;
  opacity: 0.8;
  margin-top: 5px;
}
.each-deleted-blog-restore-button:hover {
  opacity: 1;
}
.each-deleted-blog-restore-button svg {
  width: 16px;
} 

.each-deleted-blog-name {
  color: var(--text-color);
  font-weight: 800;
  font-size: 18px;
}
