doctype html
html
  script.
    window.onload = function() {
      const id = window.location.pathname.split('?')[0].split('/youtube/')[1];

      var desktopFallback = `https://youtu.be/${id}`,
      mobileFallback = `https://youtu.be/${id}`,
      app = `vnd.youtube://${id}`;

      if (/Android|iPhone|iPad|iPod/i.test(navigator.userAgent)) {
        window.location = app;
        window.setTimeout(function() {
            window.location = mobileFallback;
        }, 25);
      }
      else {
        window.location = desktopFallback;
      }

      function killPopup() {
        window.removeEventListener('pagehide', killPopup);
      }

      window.addEventListener('pagehide', killPopup);
    };