.all-content-wrapper {
  height: fit-content;
  min-height: fit-content;
  margin-top: 80px;
  padding: var(--page-padding);
  display: flex;
  flex-direction: column;
}

.each-writer-wrapper {
  height: 40px;
  min-height: 40px;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  border: var(--border-width) solid var(--border-color);
  border-radius: var(--border-radius);
  padding-left: var(--small-distance);
}

.each-writer-edit-button {
  color: var(--text-color);
  font-size: 16px;
  margin-right: var(--small-distance);
  opacity: 0.6;
  text-decoration: none;
  cursor: pointer;
}
.each-writer-edit-button:hover {
  opacity: 1;
}

.each-writer-name {
  font-weight: 700;
  color: var(--text-color);
  font-size: 16px;
}
