:root {
  --each-blog-type-width: 250px;
  --each-blog-type-height: 300px;
  --each-blog-type-image-size: 100px;
}

.blogs-title {
  margin-top: var(--page-padding);
  color: var(--text-color);
  font-size: 35px;
  font-weight: 700;
  width: 800px;
  text-align: center;
  margin-bottom: 20px;
  margin-left: 50vw;
  transform: translateX(-50%);
}

.blogs-text {
  color: var(--text-color-light);
  font-size: 16px;
  font-weight: 500;
  width: 600px;
  text-align: center;
  text-align-last: center;
  margin: 0 auto;
  margin-bottom: 15px;
  line-height: 27px;
  margin-left: 50vw;
  transform: translateX(-50%);
}

.blogs-link-wrapper {
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 60px;
  margin-left: 50vw;
  transform: translateX(-50%);
}
.each-blogs-link {
  width: 25px;
  text-decoration: none;
  margin: 0px 15px;
  cursor: pointer;
}

.blog-types-wrapper,  .blogs-wrapper {
  padding: 0 var(--page-padding);
  width: 100%;
  height: fit-content;
  min-height: fit-content;
  text-align: center;
}

.each-blog-type, .each-blog-wrapper {
  margin-bottom: var(--page-padding);
  margin-left: calc(var(--page-padding) / 2);
  border: 1px solid var(--border-color);
  box-shadow: 0 0 10px var(--border-color);
  border-radius: var(--border-radius);
  width: var(--each-blog-type-width);
  height: var(--each-blog-type-height);
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: var(--small-distance);
  text-decoration: none;
  overflow: hidden;
}
.each-blog-type-image, .each-blog-logo {
  width: var(--each-blog-type-image-size);
  height: var(--each-blog-type-image-size);
  min-height: var(--each-blog-type-image-size);
  margin-bottom: 10px;
  background-size: cover;
  border-radius: 100%;
}
.each-blog-type-name, .each-blog-title {
  color: var(--text-color);
  font-weight: 800;
  font-size: 17px;
  margin-bottom: 5px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.each-blog-type-count, .each-blog-subtitle {
  color: var(--text-color-light);
  font-weight: 400;
  font-size: 14px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.back-button {
  color: var(--main-color);
  font-weight: 700;
  font-size: 18px;
  margin-bottom: var(--page-padding);
  cursor: pointer;
  margin-left: 50%;
  transform: translateX(-50%);
  width: fit-content;
  padding-bottom: 2px;
}
.back-button:hover {
  padding-bottom: 0;
  border-bottom: 2px solid var(--main-color);
}

@media only screen and (max-width: 1150px) {
  .all-content-wrapper {
    margin-top: 110px;
  }
}
@media only screen and (max-width: 700px) {
  .all-content-wrapper {
    margin-top: 90px;
  }
}
@media only screen and (max-width: 500px) {
  .all-content-wrapper {
    margin-top: 100px;
  }
}

@media only screen and (max-width: 800px) {
  .blogs-title, .blogs-text, .blogs-link-wrapper {
    width: 500px;
  }
}
@media only screen and (max-width: 600px) {
  .blogs-title, .blogs-text, .blogs-link-wrapper {
    width: 450px;
  }
  .blogs-title {
    font-size: 26px;
  }
  .blogs-text {
    font-size: 15px;
    line-height: 22px;
  }
}
@media only screen and (max-width: 500px) {
  .blogs-title, .blogs-text, .blogs-link-wrapper {
    width: 350px;
  }
}
@media only screen and (max-width: 400px) {
  .blogs-title, .blogs-text, .blogs-link-wrapper {
    width: 260px;
  }
  .blogs-title {
    font-size: 23px;
  }
  .blogs-text {
    font-size: 14px;
    line-height: 20px;
  }
}
