.admin-menu-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  padding: var(--page-padding);
  padding-top: var(--small-distance);
  grid-column-gap: var(--page-padding);
}

.each-admin-menu-item {
  width: auto;
  height: 60px;
  border: var(--border-width) solid var(--border-color);
  border-radius: var(--border-radius);
  font-size: 16px;
  color: var(--text-color);
  font-weight: 700;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 var(--shadow-width) var(--shadow-color);
}
.each-admin-menu-item:hover {
  box-shadow: 0 0 var(--shadow-width) var(--shadow-hover-color);
}
