.start-page-wrapper {
  width: 100vw;
  height: calc(100vh - 80px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 60px;
  padding-bottom: 80px;
}

.start-page-left-wrapper {
  width: auto;
  padding-right: 30px;
  max-width: 830px;
  display: flex;
  flex-direction: column;
}

.start-page-title {
  height: 80px;
  width: auto;
  margin-bottom: 30px;
  margin-right: auto;
}
.start-page-subtitle {
  color: var(--text-color);
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
}
.start-page-text {
  color: var(--text-color);
  font-size: 20px;
  line-height: 32px;
  font-weight: 500;
  margin-top: 20px;
}

.start-page-right-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex;
  justify-content: center;
  width: 310px;
  min-width: 310px;
}
.start-page-right-aligner {
  width: 100px;
  height: 80px;
  min-height: 80px;
  visibility: hidden;
}

.start-page-motto {
  font-weight: 800;
  font-size: 60px;
  color: var(--text-color);
  line-height: 60px;
  text-align: right;
  height: 60px;
}
.start-page-motto-wrapper {
  display: flex;
  align-items: flex-end;
  height: 50px;
  margin-top: 8px;
}
.start-page-animation-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.start-page-motto-cursor {
  width: 30px;
  height: 8px;
  border-radius: 3px;
  background-color: var(--text-color);
  margin-bottom: 8px;
  animation: blink-animation 0.7s steps(4, start) infinite;
  -webkit-animation: blink-animation 0.7s steps(4, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

.learn-more-button {
  position: absolute;
  left: 50vw;
  transform: translateX(-50%);
  bottom: 30px;
  opacity: 0.8;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.learn-more-button:hover {
  opacity: 1;
}
.learn-more-button span {
  font-size: 16px;
  font-weight: 800;
  color: var(--main-color);
}
.learn-more-button svg {
  width: 17px;
}

.how-it-works-title {
  margin: 60px 0;
  font-weight: 700;
  font-size: 45px;
  color: var(--text-color);
  display: flex;
  justify-content: center;
  width: 100%;
  margin-left: 50%;
  transform: translateX(-50%);
}

.how-it-works-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0 60px;
  margin-bottom: 160px;
}
.each-how-it-works-step {
  width: calc(33% - 40px);
  height: fit-content;
  min-height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.each-how-it-works-step svg {
  margin-bottom: 30px;
  height: 140px;
  width: auto;
}
.each-how-it-works-title {
  color: var(--text-color);
  font-weight: 800;
  font-size: 33px;
  text-align: center;
  margin-bottom: 20px;
}
.each-how-it-works-text {
  color: var(--text-color-light);
  font-weight: 500;
  font-size: 16px;
  text-align: justify;
  text-align-last: center;
}

.main-motto-text {
  color: var(--text-color);
  font-weight: 800;
  font-size: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
}

.staking-wrapper {
  margin: 60px 0px;
  display: flex;
  align-items: center;
  padding: 0 60px;
}
.staking-left-wrapper {
  width: fit-content;
  min-width: fit-content;
  margin-right: 60px;
}
.staking-left-wrapper svg {
  width: 400px;
  height: auto;
}

.staking-right-wrapper {
  flex: 1;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  align-items: flex-end;
  justify-content: center;
}
.staking-title {
  color: var(--main-color);
  font-weight: 800;
  font-size: 45px;
  text-align: right;
  margin-bottom: 30px;
}
.staking-text {
  color: var(--text-color-light);
  font-weight: 600;
  font-size: 18px;
  text-align: right;
}
.staking-button {
  margin-top: 30px;
  color: var(--main-color);
  font-weight: 800;
  font-size: 18px;
  text-decoration: none;
  padding-bottom: 2px;
  border-bottom: 2px solid transparent;
}
.staking-button:hover {
  border-bottom: 2px solid var(--main-color);
}

.projects-title-wrapper {
  display: flex;
  align-items: flex-end;
  padding: 0 60px;
  margin-top: 60px;
}
.project-title {
  color: var(--text-color);
  font-weight: 800;
  font-size: 45px;
  margin-bottom: 30px;
}

.projects-header-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  padding: 0 60px;
}

.projects-info-titles-wrapper  {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.each-project-info-title {
  width: 150px;
  text-align: center;
  color: var(--text-color);
  font-weight: 800;
  letter-spacing: 0.3px;
  font-size: 15px;
}
.each-project-info-title-seperator {
  width: 3px;
  height: 30px;
  background-color: var(--text-color);
  border-radius: 2px;
}

.see-more-projects-button {
  opacity: 0.8;
  color: var(--main-color);
  font-weight: 800;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
  height: fit-content;
  min-height: fit-content;
  margin: 60px 0;
  display: flex;
  justify-content: center;
  margin-left: 50vw;
  transform: translateX(-50%);
}
.see-more-projects-button:hover {
  opacity: 1;
}

@media only screen and (max-width: 1150px) {
  .start-page-wrapper {
    height: calc(100vh - 110px);
  }
}
@media only screen and (max-width: 700px) {
  .start-page-wrapper {
    height: calc(100vh - 90px);
  }
}
@media only screen and (max-width: 500px) {
  .start-page-wrapper {
    height: calc(100vh - 100px);
  }
}

@media only screen and (max-width: 1000px) {
  .start-page-title, .start-page-right-aligner {
    height: 60px;
    min-height: 60px;
  }
  .start-page-subtitle {
    font-size: 20px;
  }
  .start-page-text {
    font-size: 18px;
    line-height: 30px;
  }
  .start-page-right-wrapper {
    width: 258px;
    min-width: 258px;
  }
  .start-page-motto {
    font-size: 50px;
  }
}
@media only screen and (max-width: 850px) {
  .start-page-wrapper {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media only screen and (max-width: 800px) {
  .start-page-title, .start-page-right-aligner {
    height: 50px;
    min-height: 50px;
  }
  .start-page-title {
    margin-bottom: 20px;
  }
  .start-page-subtitle {
    font-size: 18px;
  }
  .start-page-text {
    font-size: 16px;
    line-height: 25px;
  }
  .start-page-right-wrapper {
    width: 207px;
    min-width: 207px;
  }
  .start-page-motto {
    font-size: 40px;
    height: 40px;
    line-height: 40px;
  }
  .start-page-motto-wrapper {
    height: 35px;
    margin-top: 5px;
  }
  .start-page-motto-cursor {
    height: 4px;
    width: 20px;
    margin-bottom: 6px;
  }
  .learn-more-button span {
    font-size: 16px;
  }
}
@media only screen and (max-width: 700px) {
  .start-page-right-wrapper {
    display: none;
  }
}
@media only screen and (max-width: 500px) {
  .start-page-title, .start-page-right-aligner {
    height: 40px;
    min-height: 40px;
  }
  .start-page-title {
    margin-bottom: 15px;
  }
  .start-page-subtitle {
    font-size: 16px;
    line-height: 24px;
  }
  .start-page-text {
    font-size: 14px;
    line-height: 22px;
    margin-top: 10px;
  }
  .learn-more-button span {
    font-size: 13px;
    margin-bottom: -2px;
  }
}

@media only screen and (max-width: 1200px) {
  .each-how-it-works-step svg {
    height: 130px;
  }
  .each-how-it-works-title {
    font-size: 30px;
  }
}
@media only screen and (max-width: 1100px) {
  .each-how-it-works-step {
    width: calc(33% - 30px);
  }
  .each-how-it-works-title {
    font-size: 26px;
    margin-bottom: 15px;
  }
}
@media only screen and (max-width: 900px) {
  .how-it-works-title {
    font-size: 40px;
  }
  .how-it-works-wrapper {
    margin-bottom: 120px;
  }
  .each-how-it-works-step {
    width: calc(33% - 20px);
  }
  .each-how-it-works-title {
    font-size: 22px;
    margin-bottom: 10px;
  }
  .each-how-it-works-step svg {
    height: 110px;
  }
  .each-how-it-works-text {
    font-size: 15px;
  }
}
@media only screen and (max-width: 850px) {
  .how-it-works-wrapper {
    padding: 0 30px;
  }
}
@media only screen and (max-width: 800px) {
  .how-it-works-wrapper {
    margin-bottom: 100px;
  }
  .each-how-it-works-step {
    width: calc(33% - 15px);
  }
  .each-how-it-works-title {
    font-size: 20px;
    margin-bottom: 7px;
  }
  .each-how-it-works-step svg {
    height: 90px;
  }
  .each-how-it-works-text {
    font-size: 14px;
  }
}
@media only screen and (max-width: 700px) {
  .how-it-works-title {
    margin-bottom: 0px;
    font-size: 45px;
    margin-bottom: 15px;
  }
  .how-it-works-wrapper {
    flex-direction: column;
    justify-content: initial;
    align-items: center;
    margin-bottom: 0px;
  }
  .each-how-it-works-step {
    width: 100%;
    max-width: 350px;
    margin-bottom: 60px;
  }
  .each-how-it-works-step svg {
    height: auto;
    width: 180px;
  }
  .each-how-it-works-title {
    font-size: 28px;
  }
  .each-how-it-works-text {
    font-size: 16px;
  }
}
@media only screen and (max-width: 600px) {
  .how-it-works-title {
    font-size: 40px;
  }
}
@media only screen and (max-width: 500px) {
  .how-it-works-title {
    font-size: 35px;
  }
  .each-how-it-works-title {
    font-size: 26px;
  }
  .each-how-it-works-step svg {
    width: 160px;
  }
}
@media only screen and (max-width: 400px) {
  .how-it-works-wrapper {
    margin-bottom: 15px;
  }
  .how-it-works-title {
    font-size: 30px;
    margin-bottom: 5px;
  }
  .each-how-it-works-step {
    margin-bottom: 30px;
  }
  .each-how-it-works-title {
    font-size: 25px;
  }
  .each-how-it-works-step svg {
    width: 150px;
    margin-bottom: 15px;
  }
  .each-how-it-works-text {
    font-size: 15px;
  }
}

@media only screen and (max-width: 900px) {
  .main-motto-text {
    font-size: 45px;
  }
}
@media only screen and (max-width: 600px) {
  .main-motto-text {
    font-size: 35px;
  }
}
@media only screen and (max-width: 500px) {
  .main-motto-text {
    font-size: 30px;
  }
}

@media only screen and (max-width: 1200px) {
  .staking-left-wrapper svg {
    width: 450px;
  }
  .staking-left-wrapper {
    margin-right: 45px;
  }
}
@media only screen and (max-width: 1000px) {
  .staking-wrapper {
    margin: 80px 0;
  }
  .staking-left-wrapper svg {
    width: 300px;
  }
  .staking-left-wrapper {
    margin-right: 30px;
  }
  .staking-title {
    font-size: 40px;
    margin-bottom: 15px;
  }
  .staking-button {
    font-size: 18px;
    margin-top: 15px;
  }
  .staking-text {
    font-size: 17px;
    line-height: 26px;
  }
}
@media only screen and (max-width: 850px) {
  .staking-wrapper {
    padding: 0 30px;
  }
}
@media only screen and (max-width: 800px) {
  .staking-left-wrapper svg {
    width: 250px;
  }
  .staking-title {
    font-size: 30px;
  }
  .staking-button {
    font-size: 17px;
  }
  .staking-text {
    font-size: 16px;
    line-height: 24px;
  }
}
@media only screen and (max-width: 600px) {
  .staking-wrapper {
    flex-direction: column;
    justify-content: initial;
    align-items: center;
  }
  .staking-left-wrapper {
    margin-bottom: 15px;
    margin-right: auto;
  }
  .staking-left-wrapper svg {
    width: 400px;
    margin-right: auto;
  }
  .staking-right-wrapper {
    margin-left: auto;
    max-width: 400px;
  }
  .staking-title {
    font-size: 40px;
  }
  .staking-button {
    font-size: 18px;
  }
  .staking-text {
    font-size: 17px;
    line-height: 26px;
  }
}
@media only screen and (max-width: 500px) {
  .staking-left-wrapper svg {
    width: 300px;
  }
  .staking-right-wrapper {
    margin-left: auto;
    max-width: 340px;
  }
  .staking-title {
    font-size: 35px;
  }
  .staking-button {
    font-size: 17px;
  }
  .staking-text {
    font-size: 16px;
    line-height: 24px;
  }
}
@media only screen and (max-width: 400px) {
  .staking-wrapper {
    margin: 45px 0;
  }
  .staking-left-wrapper svg {
    width: 260px;
  }
  .staking-right-wrapper {
    margin-left: auto;
    max-width: 280px;
  }
  .staking-title {
    font-size: 30px;
  }
  .staking-button {
    font-size: 17px;
  }
  .staking-text {
    font-size: 15px;
    line-height: 23px;
  }
}

@media only screen and (max-width: 850px) {
  .projects-title-wrapper, .projects-header-wrapper {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media only screen and (max-width: 700px) {
  .project-title {
    font-size: 40px;
  }
}
@media only screen and (max-width: 500px) {
  .project-title {
    font-size: 30px;
    margin-bottom: 15px;
  }
}
@media only screen and (max-width: 400px) {
  .projects-wrapper {
    margin-top: 0px !important;
  }
  .project-title {
    font-size: 25px;
    margin-bottom: 15px;
  }
  .see-more-projects-button {
    font-size: 16px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
@media only screen and (max-width: 400px) {
  .project-dates-info-title, .project-dates-info-title-seperator, .each-project-info-dates, .each-project-info-seperator-dates {
    display: none;
  }
}
