.all-content-wrapper {
  margin-top: 80px;
  padding: 60px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stake-title {
  color: var(--text-color);
  font-size: 35px;
  font-weight: 700;
  width: 600px;
  text-align: center;
  margin-bottom: 20px;
}

.stake-text {
  color: var(--text-color-light);
  font-size: 16px;
  font-weight: 500;
  width: 600px;
  text-align: center;
  margin-bottom: 15px;
  line-height: 25px;
}

.stake-link-wrapper {
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 60px;
}
.each-stake-link {
  width: 25px;
  text-decoration: none;
  margin: 0px 15px;
  cursor: pointer;
}

.stake-projects-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 30px;
  width: auto;
  margin-left: 50%;
  transform: translateX(-50%);
  margin-top: 20px;
  margin-bottom: 60px;
}

.each-stake-project, .each-coming-stake-project {
  width: 260px;
  height: 320px;
  border: 2px solid var(--border-color);
  box-shadow: 0 0 10px var(--border-color);
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  text-decoration: none;
  cursor: pointer;
}
.each-coming-stake-project {
  cursor: default !important;
}
.each-stake-project:hover {
  margin-top: -5px;
  margin-bottom: 5px;
  box-shadow: 0 0 15px var(--border-color);
}
.each-stake-project-image {
  margin-top: 40px;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background-size: cover;
  margin-bottom: 5px;
}
.each-stake-project-name {
  margin-bottom: 15px;
  color: var(--text-color);
  font-weight: 800;
  font-size: 24px;
}
.each-stake-project-rate-text {
  color: var(--text-color-light);
  font-weight: 600;
  font-size: 14px;
}
.each-stake-project-rate {
  margin-bottom: auto;
  color: var(--main-color);
  font-weight: 800;
  font-size: 27px;
}
.each-stake-project-stake-button {
  margin-top: auto;
  color: var(--main-color);
  font-weight: 800;
  font-size: 16px;
  border-radius: 8px;
  display: flex;
  align-items: center;
}
.each-stake-project-stake-button svg {
  margin-left: 8px;
  height: 17px;
}

@media only screen and (max-width: 1150px) {
  .all-content-wrapper {
    margin-top: 110px;
  }
}
@media only screen and (max-width: 700px) {
  .all-content-wrapper {
    margin-top: 90px;
  }
}
@media only screen and (max-width: 500px) {
  .all-content-wrapper {
    margin-top: 100px;
  }
}

@media only screen and (max-width: 800px) {
  .stake-title, .stake-text, .stake-link-wrapper {
    width: 500px;
  }
}
@media only screen and (max-width: 600px) {
  .stake-title, .stake-text, .stake-link-wrapper {
    width: 450px;
  }
  .stake-title {
    font-size: 26px;
  }
  .stake-text {
    font-size: 15px;
    line-height: 22px;
  }
}
@media only screen and (max-width: 500px) {
  .stake-title, .stake-text, .stake-link-wrapper {
    width: 350px;
  }
}
@media only screen and (max-width: 700px) {
  .stake-projects-wrapper {
    flex-direction: column;
    margin-top: 0px;
  }
  .each-stake-project {
    margin: 0px;
    margin-top: 20px;
  }
}
@media only screen and (max-width: 400px) {
  .stake-title, .stake-text, .stake-link-wrapper {
    width: 260px;
  }
  .stake-title {
    font-size: 23px;
  }
  .stake-text {
    font-size: 14px;
    line-height: 20px;
  }
}
