.all-wrapper {
  display: flex;
  background: conic-gradient(from 115.41deg at 42.4% 51.71%, #6FDBEE 0deg, #68FCE7 311.12deg, #6FDBEE 360deg);
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.welcome-title {
  width: 300px;
  font-weight: 800;
  font-size: 25px;
  color: rgb(1, 1, 1);
  margin-bottom: 25px;
  text-align: center;
}
.welcome-text {
  width: 300px;
  font-weight: 600;
  font-size: 20px;
  color: rgb(1, 1, 1);
  margin-bottom: 25px;
  text-align: center;
}
.nft-error {
  width: 300px;
  font-weight: 700;
  font-size: 16px;
  color: rgb(200, 0, 10);
  margin-bottom: 25px;
  text-align: center;
}
.nft-button {
  background-color: rgb(1, 1, 1);
  color: #68FCE7;
  font-weight: 800;
  text-decoration: none;
  cursor: pointer;
  font-size: 20px;
  width: 150px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
