extends ../partials/head
block content
  .all-wrapper
    .welcome-title Welcome to CryptIst!
    .welcome-text It was so nice to see you with us today. As a little thank you gift and memoire of our event, we have prepared our own NFTs for you! Please click the button below to claim your NFT. Have a nice day.
    a.nft-button(href='https://qr.poap.xyz/#/event/vKnWoq8K5OOnKlu7tgON' target='_blank') CLAIM
