.all-wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

.all-header-wrapper {
  background-color: rgb(254, 254, 254);
  position: fixed;
  height: 80px;
  min-height: 80px;
  width: 100vw;
  display: flex;
  align-items: center;
  padding: 0 60px;
  z-index: 10;
}

.all-header-logo {
  display: flex;
  align-items: center;
}
.all-header-logo svg {
  width: 130px;
}

.all-header-search-wrapper {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  height: 50px;
  max-height: 50px;
  overflow: hidden;
  z-index: 2;
}

.all-header-search-input-wrapper {
  height: 50px;
  min-height: 50px;
  display: flex;
  align-items: center;
  width: 350px;
  z-index: 3;
  background-color: rgb(254, 254, 254);
}
.all-header-search-input-wrapper i {
  color: rgba(10, 10, 20, 0.4);
  font-size: 18px;
  margin-right: 7px;
}
.all-header-search-input {
  border: none;
  outline: none;
  color: rgba(10, 10, 20, 0.4);
  font-weight: 800;
  font-size: 18px;
  flex: 1;
}
.all-header-search-input::placeholder {
  color: rgba(10, 10, 20, 0.2);
  font-weight: 800;
}

.all-header-search-results-wrapper {
  width: 350px;
  height: 150px;
  min-height: 150px;
  background-color: rgb(254, 254, 254);
  border: 1px solid rgb(236, 236, 236);
  border-top: none;
  box-shadow: 0 0 10px rgb(236, 236, 236);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: scroll;
  display: flex;
  flex-direction: column;
}
.each-all-header-search-result {
  display: flex;
  align-items: center;
  height: 50px;
  min-height: 50px;
  width: 100%;
  padding: 0 15px;
  cursor: pointer;
}
.each-all-header-search-result:hover {
  background-color: rgb(248, 248, 248);
}
.each-all-header-search-result-image {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-size: cover;
}
.each-all-header-search-result-name {
  margin-left: 7px;
  font-weight: 800;
  font-size: 16px;
  color: rgb(10, 10, 20);
}

.all-header-create-project-button {
  text-decoration: none;
  margin-left: auto;
  width: 150px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(130, 170, 235);
  font-size: 18px;
  font-weight: 800;
  color: rgb(254, 254, 254);
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 0 8px rgba(130, 170, 235, 0.5);
}
.all-header-create-project-button:hover {
  box-shadow: 0 0 8px rgba(130, 170, 235, 0.7);
}

.all-content-wrapper {
  margin-top: 80px;
  width: 100vw;
  height: fit-content;
  min-height: fit-content;
}
