.general-confirm-outer-wrapper {
  position: absolute;
  z-index: 10;
  left: 0px;
  top: 0px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(1, 1, 1, 0.7);
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.general-confirm-wrapper {
  position: absolute;
  padding: 30px;
  max-width: 95%;
  width: 550px;
  border-radius: 7px;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  top: 20px;
}

.general-confirm-title {
  font-size: 18px;
  color: var(--text-color);
  letter-spacing: 1px;
  font-weight: 600;
  margin-bottom: 10px;
}

.general-confirm-text {
  font-size: 16px;
  color: var(--text-color);
  font-weight: 300;
  margin-bottom: 30px;
  width: 100%;
  white-space: initial !important;
}

.general-confirm-button-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}
.general-confirm-no-button {
  border: 1px solid rgba(255, 0, 0, 0.7);
  border-radius: 7px;
  padding: 10px 15px;
  cursor: pointer;
  color: rgba(255, 0, 0, 0.7);
  font-weight: 500;
  font-size: 14px;
}
.general-confirm-no-button:hover {
  border: 1px solid rgba(255, 0, 0, 0.9);
  color: rgba(255, 0, 0, 0.9);
}
.general-confirm-yes-button {
  border: 1px solid rgba(130, 170, 235, 0.9);
  border-radius: 7px;
  padding: 10px 15px;
  cursor: pointer;
  margin-left: 15px;
  color: rgba(130, 170, 235, 0.9);
  font-weight: 500;
  font-size: 14px;
}
.general-confirm-yes-button:hover {
  border: 1px solid rgba(130, 170, 235, 1);
  color: rgba(130, 170, 235, 1);
}

.general-slide-down-animation-class {
  animation: slideDown 0.1s ease-in-out 0s 1 forwards;
  -webkit-animation: slideDown 0.1s ease-in-out 0s 1 forwards;
}

@keyframes slideDown {
  from {
    top: 20px;
  }
  to {
    top: 100px
  }
}
@-webkit-keyframes slideDown {
  from {
    top: 20px;
  }
  to {
    top: 100px
  }
}

