.all-footer-wrapper {
  width: 100%;
  height: fit-content;
  min-height: fit-content;
  border-top: 1px solid var(--border-color);
  box-shadow: 0 0 10px var(--border-color);
  display: flex;
  flex-direction: column;
  margin-top: auto;
  padding: 30px 60px;
}

.all-footer-line {
  display: flex;
  align-items: flex-end;
  width: 100%;
  margin-bottom: 15px;
}

.each-footer-column {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 30px;
}
.each-footer-column-grid {
  margin-top: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 30px;
}
.each-footer-column-title {
  color: var(--text-color);
  font-weight: 800;
  font-size: 18px;
  margin-bottom: 10px;
  width: 100%;
  display: flex;
}
.each-footer-column-item-wrapper {
  color: var(--text-color);
  display: flex;
  align-items: center;
  height: 25px;
  margin-top: 10px;
  cursor: pointer;
  text-decoration: none;
  width: 100%;
  opacity: 0.9;
}
.each-footer-column-item-wrapper:hover {
  opacity: 1;
}
.each-footer-column-text {
  font-weight: 700;
  font-size: 14px;
  margin-left: 8px;
}
.each-footer-column-icon {
  width: 16px;
}

.footer-copyright {
  margin-left: auto;
  margin-top: auto;
  color: var(--text-color-light);
  opacity: 0.7;
  font-weight: 800;
  font-size: 15px;
}

@media only screen and (max-width: 850px) {
  .all-footer-wrapper {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media only screen and (max-width: 600px) {
  .each-footer-column {
    margin-right: 20px;
  }
  .each-footer-column-grid {
    grid-column-gap: 20px;
  }
  .each-footer-column-title {
    font-size: 20px;
    margin-bottom: 5px;
  }
  .each-footer-column-text {
    font-size: 15px;
  }
}
@media only screen and (max-width: 500px) {
  .each-footer-column {
    margin-right: 15px;
  }
  .each-footer-column-grid {
    grid-column-gap: 15px;
  }
  .each-footer-column-title {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .each-footer-column-text {
    font-size: 14px;
    margin-left: 6px;
  }
  .each-footer-column-icon {
    width: 15px;
  }
  .footer-copyright {
    font-size: 13px;
  }
  .each-footer-column-item-wrapper {
    margin-top: 5px;
  }
}
@media only screen and (max-width: 500px) {
  .each-footer-column {
    margin-right: 10px;
  }
  .each-footer-column-grid {
    grid-column-gap: 10px;
  }
  .each-footer-column-text {
    font-size: 13px;
    margin-left: 4px;
  }
  .each-footer-column-icon {
    width: 15px;
  }
}
