.all-footer-wrapper {
  width: 100%;
  height: 250px;
  min-height: 250px;
  border-top: 1px solid var(--border-color);
  box-shadow: 0 0 10px var(--border-color);
  display: flex;
  align-items: flex-start;
  margin-top: auto;
  padding: 30px 60px;
}

.footer-copyright {
  margin-right: auto;
  margin-top: auto;
  color: var(--text-color-light);
  font-weight: 800;
  font-size: 16px;
}

.each-footer-column {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: 30px;
}
.each-footer-column-grid {
  margin-top: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  direction: rtl;
  grid-column-gap: 30px;
  align-items: flex-end;
}
.each-footer-column-title {
  color: var(--text-color);
  font-weight: 800;
  font-size: 22px;
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.each-footer-column-item-wrapper {
  color: var(--text-color-light);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 25px;
  margin-bottom: 10px;
  cursor: pointer;
  text-decoration: none;
  width: 100%;
}
.each-footer-column-item-wrapper:hover {
  color: var(--text-color);
}
.each-footer-column-text {
  font-weight: 700;
  font-size: 16px;
  margin-right: 8px;
  margin-left: auto;
  text-align: right;
}
.each-footer-column-icon {
  width: 18px;
}

@media only screen and (max-width: 850px) {
  .all-footer-wrapper {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media only screen and (max-width: 700px) {
  .all-footer-wrapper {
    padding-bottom: 60px;
  }
  .footer-copyright {
    margin-bottom: -30px;
    width: 0px;
    white-space: nowrap;
    overflow: visible;
  }
}
@media only screen and (max-width: 600px) {
  .each-footer-column {
    margin-left: 20px;
  }
  .each-footer-column-grid {
    grid-column-gap: 20px;
  }
  .each-footer-column-title {
    font-size: 20px;
    margin-bottom: 15px;
  }
  .each-footer-column-text {
    font-size: 15px;
  }
}
@media only screen and (max-width: 500px) {
  .each-footer-column {
    margin-left: 15px;
  }
  .each-footer-column-grid {
    grid-column-gap: 15px;
  }
  .each-footer-column-title {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .each-footer-column-text {
    font-size: 14px;
    margin-right: 6px;
  }
  .each-footer-column-icon {
    width: 15px;
  }
  .footer-copyright {
    font-size: 14px;
  }
  .each-footer-column-item-wrapper {
    margin-bottom: 5px;
  }
}
@media only screen and (max-width: 500px) {
  .all-footer-wrapper {
    padding-left: 20px;
  }
  .each-footer-column {
    margin-left: 10px;
  }
  .each-footer-column-grid {
    grid-column-gap: 10px;
  }
  .each-footer-column-text {
    font-size: 13px;
    margin-right: 4px;
  }
  .each-footer-column-icon {
    width: 15px;
  }
  .footer-copyright {
    margin-left: 10px;
  }
}
