.all-content-wrapper {
  margin-top: 80px;
  padding-top: 30px;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
}

.project-info-wrapper {
  display: flex;
  align-items: center;
  height: fit-content;
  min-height: fit-content;
  width: 100%;
  padding: 0 60px;
  margin-bottom: 30px;
}
.project-logo {
  width: 50px;
  min-width: 85px;
  height: 85px;
  border-radius: 100%;
  background-size: cover;
}
.project-name {
  color: rgb(10, 10, 20);
  font-weight: 800;
  font-size: 50px;
  margin-left: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
}
.project-links-wrapper {
  margin-left: auto;
  display: flex;
  align-items: center;
}
.each-project-link {
  margin-left: 15px;
  width: 25px;
  cursor: pointer;
  text-decoration: none;
  opacity: 0.7;
}
.each-project-link:hover {
  opacity: 1;
}

.project-description {
  padding: 0 60px;
  color: rgba(10, 10, 20, 0.4);
  font-weight: 800;
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 10px;
}
.project-description a {
  color: rgb(130, 170, 235);
  text-decoration: none;
  cursor: pointer;
}
.project-description a:hover {
  text-decoration: underline;
}

.project-title-wrapper {
  display: flex;
  flex-direction: column;
  height: fit-content;
  min-height: fit-content;
  padding: 0 60px;
  margin-top: 20px;
  margin-bottom: 30px;
}
.project-title {
  color: rgb(10, 10, 20);
  font-weight: 800;
  font-size: 35px;
  margin-bottom: 5px;
}
.project-title-info {
  color: rgb(130, 170, 235);
  font-weight: 300;
  font-size: 16px;
}

.project-requirements-wrapper {
  width: 100%;
  height: fit-content;
  min-height: fit-content;
  margin-bottom: 30px;
  padding: 0 60px;
}
.each-project-requirement {
  margin-right: 30px;
  width: 300px;
  height: 130px;
  border: 1px solid rgb(236, 236, 236);
  box-shadow: 0 0 10px rgb(236, 236, 236);
  display: inline-flex;
  align-items: flex-start;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 30px;
}
.each-project-requirement-name {
  width: 100px;
  height: 100%;
  font-weight: 800;
  font-size: 16px;
  color: rgb(10, 10, 20);
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
}
.each-project-requirement-seperator {
  width: 20px;
  height: 100%;
  font-weight: 800;
  font-size: 16px;
  color: rgb(10, 10, 20);
  display: flex;
  justify-content: flex-end;
  padding-right: 10px;
}
.each-project-requirement-value {
  width: 150px;
  height: 100%;
  font-weight: 600;
  font-size: 15px;
  color: rgba(10, 10, 20, 0.6);
}

.project-guide-wrapper {
  margin: 0 60px;
  padding: 30px;
  padding-bottom: 0px;
  background-color: rgb(254, 254, 254);
  border: 2px solid rgb(236, 236, 236);
  border-radius: 8px;
  box-shadow: 0 0 10px rgb(236, 236, 236);
  margin-bottom: 30px;
  width: auto;
  height: fit-content;
  min-height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.guide-title a, .guide-text a {
  color: rgb(130, 170, 235);
  cursor: pointer;
  text-decoration: none;
}
.guide-title a:hover, .guide-text a:hover, .guide-info a:hover {
  text-decoration: underline;
}
.guide-info a {
  text-decoration: none;
  color: rgb(10, 10, 20);
  cursor: pointer;
}
.guide-title {
  color: rgb(10, 10, 20);
  font-weight: 800;
  font-size: 22px;
  margin-bottom: 10px;
}
.guide-text {
  color: rgba(10, 10, 20, 0.6);
  font-weight: 800;
  font-size: 18px;
  margin-bottom: 30px;
}
.guide-code, .guide-code-copied {
  padding: 15px 20px;
  background-color: rgb(10, 10, 20);
  color: rgb(65,144,34);
  border-radius: 5px;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.guide-code-copied::after {
  content: "copied!";
  color: rgb(130, 170, 235);
  font-weight: 800;
  font-size: 14px;
  margin-left: auto;
  padding-left: 5px;
  display: flex;
  align-items: center;
  height: 100%;
}
.guide-code::after {
  content: "copy";
  color: rgb(130, 170, 235);
  font-weight: 800;
  font-size: 14px;
  margin-left: auto;
  padding-left: 5px;
  display: flex;
  align-items: center;
  height: 100%;
}
.guide-info-wrapper {
  display: flex;
  align-items: flex-start;
  width: 100%;
  height: fit-content;
  min-height: fit-content;
  margin-bottom: 30px;
}
.guide-info-sign {
  background-color: rgb(130, 170, 235);
  color: rgb(254, 254, 254);
  font-weight: 900;
  font-size: 17px;
  width: 24px;
  min-width: 24px;
  height: 24px;
  margin-right: 8px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.guide-info {
  color: rgb(130, 170, 235);
  font-weight: 800;
  font-size: 18px;
  height: fit-content;
  min-height: fit-content;
}
.guide-info * {
  margin-right: 5px;
}
.guide-image {
  width: 200px;
  min-width: 200px;
  height: 200px;
  margin-bottom: 30px;
  background-size: cover;
  background-color: rgb(248, 248, 248);
  border-radius: 8px;
  margin-left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}

.no-info-text {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(10, 10, 20, 0.4);
  font-weight: 800;
  font-size: 16px;
}

@media only screen and (max-width: 1150px) {
  .all-content-wrapper {
    margin-top: 110px;
  }
}
@media only screen and (max-width: 850px) {
  .project-info-wrapper, .project-title-wrapper, .project-description, .project-requirements-wrapper {
    padding: 0 30px;
  }
  .each-project-requirement {
    margin-right: 15px;
    margin-bottom: 15px;
  }
  .project-guide-wrapper {
    margin: 0 30px;
    margin-bottom: 60px;
  }
}
@media only screen and (max-width: 700px) {
  .all-content-wrapper {
    margin-top: 90px;
  }
}
@media only screen and (max-width: 500px) {
  .all-content-wrapper {
    margin-top: 100px;
  }
}

@media only screen and (max-width: 900px) {
  .project-logo {
    width: 75px;
    height: 75px;
    min-width: 75px;
  }
  .project-name {
    font-size: 40px;
  }
  .each-project-link {
    width: 20px;
  }
  .project-description {
    font-size: 16px;
    line-height: 26px;
  }
  .project-title {
    font-size: 30px;
  }
  .project-title-info {
    font-size: 15px;
  }
  .guide-title {
    font-size: 20px;
  }
  .guide-text, .guide-info, .guide-code {
    font-size: 16px;
  }
}
@media only screen and (max-width: 700px) {
  .project-logo {
    width: 65px;
    height: 65px;
    min-width: 65px;
  }
  .project-name {
    font-size: 35px;
    margin-left: 10px;
  }
  .project-links-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    direction: rtl;
    grid-row-gap: 5px;
  }
  .each-project-link {
    width: 20px;
  }
  .project-description {
    font-size: 15px;
    line-height: 24px;
  }
  .each-project-requirement {
    width: 260px;
    height: 120px;
    padding: 10px;
  }
  .each-project-requirement-name, .each-project-requirement-value {
    font-size: 14px;
  }
  .project-guide-wrapper {
    padding: 20px;
  }
  .project-title {
    font-size: 26px;
    margin-bottom: 2px;
  }
  .project-title-info {
    font-size: 14px;
  }
  .guide-title {
    font-size: 18px;
  }
  .guide-text, .guide-info, .guide-code {
    font-size: 15px;
  }
}
@media only screen and (max-width: 600px) {
  .project-logo {
    width: 55px;
    height: 55px;
    min-width: 55px;
  }
  .project-name {
    font-size: 30px;
  }
  .each-project-link {
    width: 18px;
  }
  .project-description {
    font-size: 15px;
    line-height: 24px;
  }
  .each-project-requirement {
    margin-left: 50%;
    transform: translateX(-50%);
    margin-right: 0px;
  }
}
@media only screen and (max-width: 500px) {
  .project-logo {
    width: 50px;
    height: 50px;
    min-width: 50px;
  }
  .project-name {
    font-size: 25px;
  }
  .each-project-link {
    width: 16px;
  }
  .project-description {
    font-size: 14px;
    line-height: 22px;
  }
  .project-title {
    font-size: 23px;
    margin-bottom: 2px;
  }
  .project-title-info {
    font-size: 14px;
  }
  .guide-title {
    font-size: 17px;
  }
  .guide-text, .guide-info, .guide-code {
    font-size: 14px;
  }
  .guide-info-wrapper {
    margin-bottom: 20px;
  }
  .guide-text, .guide-code {
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 400px) {
  .project-links-wrapper {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .project-guide-wrapper {
    padding: 10px;
  }
  .project-title {
    font-size: 24px;
  }
  .project-title-info {
    font-size: 14px;
  }
  .guide-title {
    font-size: 16px;
  }
  .guide-text, .guide-info, .guide-code {
    font-size: 13px;
  }
}
